---
title: "My Blog"
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Paola's Home in Web Development</h1>
      <p>Welcome to my blog featuring articles about web development and its wonder to it, while having a peaceful time scrolling through my blog.</p>
      <p>Below are some articles for you to check out!</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
        <a href="./blog" class="btn btn--neutral">Most recent articles</a>
      </div>
    </div>
    <div>
      <img src="/assets/blog/cedric-vt-IuJc2qh2TcA-unsplash.jpg" alt="" class="hero__image">
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Check out these articles that can you give you a feel of what my blog is about.</p>
    <ul role="list" class="articles__list flow">
      {%- for post in collections.featured | reverse -%}
      {% include 'article-snippet.njk' %}
      {%- endfor -%}
    </ul>
  </div>
</section>